{% extends 'LinkJobeetBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/linkjobeet/css/jobs.css') }}"
          type="text/css" media="all" />
{% endblock %}

{% block body %}
    <div id="jobs">
        {% for category in categories %}
            <div class="category_{{ category.slug }}">
                <div class="category">
                    <div class="feed">
                        <a href="{{ path('LinkJobeetBundle_category', { 'slug': category.slug, '_format': 'atom' }) }}">Feed</a>
                    </div>
                    <h1><a href="{{ path('LinkJobeetBundle_category', { 'slug': category.slug }) }}">{{ category.name }}</a></h1>
                </div>

                {% include 'LinkJobeetBundle:job:list.html.twig' with {'jobs': category.activejobs} %}

                {% if category.morejobs %}
                    <div class="more_jobs">
                        and <a href="{{ path('LinkJobeetBundle_category', { 'slug': category.slug }) }}">{{ category.morejobs }}</a>
                        more...
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
