<!DOCTYPE html>
<html>
<head>
    <title>
        {% block title %}
            Jobeet - Your best job board
        {% endblock %}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/linkjobeet/css/main.css') }}" type="text/css" media="all" />
    {% endblock %}
    {% block javascripts %}
    {% endblock %}
    <link rel="shortcut icon" href="{{ asset('bundles/linkjobeet/images/favicon.ico') }}" />
    <link rel="alternate" type="application/atom+xml" title="Latest Jobs" href="{{ url('job_index', {'_format': 'atom'}) }}" />
</head>
<body>
<div id="container">
    <div id="header">
        <div class="content">
            <h1><a href="{{ path('link_jobeet_homepage') }}">
                    <img src="{{ asset('bundles/linkjobeet/images/logo.jpg') }}" alt="Jobeet Job Board" />
                </a></h1>

            <div id="sub_header">
                <div class="post">
                    <h2>Ask for people</h2>
                    <div>
                        <a href="{{ path('job_new') }}">Post a Job</a>
                    </div>
                </div>

                <div class="search">
                    <h2>Ask for a job</h2>
                    <form action="" method="get">
                        <input type="text" name="keywords" id="search_keywords" />
                        <input type="submit" value="search" />
                        <div class="help">
                            Enter some keywords (city, country, position, ...)
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="job_history">
        Recent viewed jobs:
        <ul>
            {% for job in app.session.get('job_history') %}
                <li>
                    <a href="{{ path('job_show', { 'id': job.id, 'company': job.companyslug, 'location': job.locationslug, 'position': job.positionslug }) }}">{{ job.position }} - {{ job.company }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div id="content">


        <div class="content">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash_notice">
                    {{ flashMessage }}
                </div>
            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="flash_error">
                    {{ flashMessage }}
                </div>
            {% endfor %}

            {% block body %}
            {% endblock %}
        </div>
    </div>

    <div id="footer">
        <div class="content">
              <span class="symfony">
                <img src="{{ asset('bundles/linkjobeet/images/jobeet-mini.png') }}" />
                powered by <a href="http://www.symfony.com/">
                  <img src="{{ asset('bundles/linkjobeet/images/symfony.gif') }}" alt="symfony framework" />
                </a>
              </span>
            <ul>
                <li><a href="">About Jobeet</a></li>
                <li><a href="{{ path('job_index', {'_format': 'atom'}) }}">Full feed</a></li>
                <li><a href="">Jobeet API</a></li>
                <li class="last"><a href="">Affiliates</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>